/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.site-container {
  width: 100%;
}
button {
  background-color: #393e46;
  width: 7%;
  padding: 0.3%;
  border: none;
  button-radius: 100%;
}
button:hover {
  background-color: #40464e;
  color: white;
}
.top-nav {
  background-color: #393e46;
  display: flex;
  justify-content: space-around;
  padding: 0.5%;
}
.top-nav a {
  text-decoration: none;
  color: #fe346e;
}
nav a:hover {
  color: #f4f4f4;
}
.first-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.left-side {
  background: #464159;
  width: 30%;
  height: 1200px;
}
.left-side h3 {
  font-size: 1.5rem;
  color: #fe346e;
}
.left-side p {
  font-size: 1.1rem;
  color: antiquewhite;
}
.left-side .photo-me {
  border-radius: 50%;
  width: 15%;
  position: absolute;
  left: 16%;
}
.about {
  margin-top: 50%;
}
.about h3 {
  margin: 4%;
}
.about p {
  margin: 4%;
  text-align: left;
}
.first-divider {
  border: 1px solid #8bbabb;
}
.good-stuff {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 10%;
}
.good-stuff h3 {
  margin: 4%;
}
.good-stuff p {
  margin: 4%;
  text-align: left;
}
.left-break {
  border: 1px solid #8bbabb;
  margin-top: 30%;
  margin-right: 60%;
  width: 40%;
}
.middle {
  background: #dedef0;
  width: 30%;
}
.right-side {
  background: #dedef0;
  width: 70%;
}
.left-side,
.right-side,
.middle {
  padding-top: 2%;
}
.heading {
  font-family: "Special Elite", cursive;
  margin: 0.5% auto;
  text-shadow: -9px -3px 7px rgba(0, 0, 0, 0.774);
}
.heading h1 {
  font-size: 3rem;
  color: #464159;
  margin-top: 5%;
  margin-left: 25%;
}
.heading h3 {
  font-size: 1.5rem;
  color: #464159;
  margin-top: 1%;
  margin-left: 30%;
}
.heading hr {
  border: 1px solid #8bbabb;
  margin-top: 1.5%;
}
